<!-- Random number and wins losses -->
  <div class="row">
    <div class="col-md-2  col-md-offset-2 panel panel-default">
      <div class="panel panel-body" >
        <!-- Random Number -->
        <!-- CHANGE #1 - I moved your id into a span. I did this because I want to keep your label Winning Number but delete whats inside the number only. -->
        Winning Number: <span id="randomNumber"></span>
      </div>
    </div>

    <div class="col-md-2 col-md-offset-1 panel panel-default">
      <div class="panel-body">
          <!-- Your score -->
        Score: <span id="score"><!-- score variable --></span>  
      </div>
    </div>

    <div class="col-md-2 col-md-offset-1 panel panel-default">
      <div class="panel-body">
        <!-- Wins/Losses -->
        <p>Wins: <span id="wins"></span></p>
        <p>Losses: <span id="losses"></span></p>
      </div>
    </div>
  </div>