        <!-- Crystal buttons -->
      <div class="col-md-7 col-md-offset-3">
        <div onclick="document.getElementById('audio').play()" type="button" class="btn btn-default" id="red">
          <img src="assets/images/red.png" alt="Red Crystal">
        </div>
        <div onclick="document.getElementById('audio').play()" type= "button" class="btn btn-default" id="blue">
          <img src="assets/images/blue.png" alt="Blue Crystal">
        </div>
        <div onclick="document.getElementById('audio').play()" type="button" class="btn btn-default" id="yellow">
          <img src="assets/images/yellow.png" alt="Yellow Crystal">
        </div>
        <div onclick="document.getElementById('audio').play()" type="button" class="btn btn-default" id="green">
          <img src="assets/images/green.png" alt="Green Crystal">
        </div>
      </div>

